.featured-destinations {
    padding: 50px 0;
    color: #ffffff;

    &__header {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    &__divider {
        border-color: #ffffff;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        height: 100%;
        border: none;
        background-color: $custom-color-font-2;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
        overflow: hidden;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        }
    }

    &__image-container {
        flex: none;
        height: 100%;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: $custom-color-font-3;
    }

    &__description {
        font-size: 1rem;
        color: $spanish-gray;
        margin-bottom: 10px;
    }

    &__container-price {
        width: 100% !important;  
        background-color: $custom-color-2; 
        border-top: 2px solid #ffffff;  
        padding: 10px;
    }
    

    &__price {
        font-size: 1.2rem;
        color: $custom-color-font-1;
        text-align: center;

        & > strong {
            font-weight: bold;
            color: $buff;
        }
    }

    &__icon {
        margin-right: 10px;
        color: $buff;
    }
}


@media (max-width: 768px) {
    .featured-destinations__card {
        flex-direction: column; 
    }
    
    .featured-destinations__image-container {
        width: 100%;  
        height: auto;
    }

    .featured-destinations__body {
        width: 100%; 
    }
}

