.navbar {
  @include flex-center;
  justify-content: space-between;
  padding: 20px;

  &__logo {
      font-size: $font-size-xxl;
      color: $custom-color-font-1;
  }

  &__menu {
      list-style: none;
      display: flex;
      gap: 20px;
  }

  &__item {
      font-size: $font-size-large;
      color: $custom-color-font-3; 

      &:hover {
          color: $custom-color-font-2; 
      }
  }
}
