.social-media-section {
    &__header {
        margin-bottom: 20px;
        h2 {
            font-size: $font-size-xl;
            color: $custom-color-font-1;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-around;

        .social-media-icon {
            font-size: 5em;
            transition: transform 0.3s ease, color 0.3s ease;

            &:hover {
                transform: scale(1.2); 
            }
        }

        p {
            margin-top: 10px;
            font-size: $font-size-md;
            color: $custom-color-font-2;
        }
    }
}


  