.header {
    padding: 0px 5%;
    height: 800px;  
    position: relative;

    &__navbar {
        padding: 0;
    }

    &__brand {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #ffffff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

        & .header__logo {
            height: 40px; 
            margin-right: 10px;
        }
    }

    &__menu {
        & .header__list {
            display: flex;
            gap: 20px;

            & .header__item {
                & .header__link {
                    color: $custom-color-font-1; 
                    font-weight: bold;
                    padding: 5px 10px;
                    transition: color 0.3s, background-color 0.3s;

                    &:hover,
                    &:focus {
                        color: $turquoise-green;
                        background-color: rgba(255, 255, 255, 0.1); 
                        border-radius: 5px;
                    }

                    &.active {
                        color: #00ccff;
                    }
                }
            }
        }
    }

    &__toggler {
        border: none;

        &-icon {
            background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255,255,255,0.95)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
        }
    }
}
.header-carousel {
    .carousel-inner {
        height: 100%; 
        position: relative;

        .header-carousel__item {
            height: 800px;  
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .carousel-caption {
            position: absolute;  
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            color: white;
            bottom: 30px;  
            left: 50%; 
            transform: translateX(-50%);  

            &__title {
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 5px;
            }

            &__text {
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        .carousel-inner {
            height: 500px;
        }

        .header-carousel__item {
            height: 500px;  
        }

        .carousel-caption {
            padding: 8px;
            font-size: 0.9rem;
        }
    }
}



.main-content {
    padding: 0px 5%;
    margin-top: calc(800px + 3rem);  

    @media (max-width: 768px) {
        margin-top: calc(500px + 3rem); 
    }
}
