.featured-destinations {
    padding: 50px 0;
    color: $custom-color-font-1;

    &__header {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    &__divider {
        border-color: #ffffff;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        border: none;
        background-color: $custom-color-font-2;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        }
    }

    &__image-container {
        max-height: 100%;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__image {
        width: auto;
        height: 100%;
        object-fit: cover; 
    }

    &__body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: $custom-color-font-3;
    }

    &__description {
        font-size: 1rem;
        color: $spanish-gray;
        margin-bottom: 10px;
    }

    &__price {
        font-size: 1.2rem;
        color: $custom-color-font-3;

        & > strong {
            font-weight: bold;
            color: $custom-color-font-3;
        }
    }

    &__icon {
        margin-right: 10px;
        color: $buff;
    }
}
